:root {
  --regular: 'Inter', Arial, sans-serif;
  --head: 'Playfair Display', Georgia, serif;

  --normal: 400;
  --bold: 600;

  --grey: #333F49;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular);
  font-weight: var(--normal);
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  margin: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.commonHead {
  font-family: var(--head);
  font-weight: var(--normal);
  font-size: 40px;
  line-height: 1.3em;
  color: #333F49;
  margin: 0;
}

.commonHead>em {
  display: block;
}

/* Partners Section */
.ourEsteemedPartnersWrap {
  padding: 100px 80px;
}

.ourEsteemedPartnersCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.ourEsteemedPartnersCont>div {
  flex: 1;
}

.ourEsteemedPartnersContLft h4 {
  font-size: 56px;
  line-height: 1.4em;
  margin: 0 0 15px;
  color: #333F49;
  font-weight: 400;
}

.ourEsteemedPartnersContLft h4>em,
.ourEsteemedPartnersContLft p>em {
  display: block;
}

.ourEsteemedPartnersContLft p {
  font-size: 14px;
  line-height: 1.8em;
  margin: 0;
}

.ourEsteemedPartnersLogos img {
  max-width: 80%;
}

/* Project Section */
.ourProjectWrap {
  padding: 100px 0 0;
  overflow: hidden;
}

.ourProjectHead {
  text-align: center;
}

.ourProjectHead h5 {
  font-size: 22px;
  line-height: 1.4em;
  font-weight: var(--normal);
  margin: 0 0 35px;
  position: relative;
  display: inline-block;
}

.ourProjectHead h5::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: var(--grey);
  margin: 6px auto 0;
  border-radius: 2px;
}

.ourProjectHead h3>em {
  display: block;
}

.ourProjectImgSectionWrap {
  padding: 80px 0 0;
}

.ourProjectImgSec {
  position: relative;
}

.ourProjectImgSec::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.ourProjectImgSec img {
  width: 100%;
  display: block;
}

.ourProjectImgSec h3 {
  position: absolute;
  color: #fff;
  z-index: 1;
  top: 80px;
  left: 80px;
  font-size: 46px;
  line-height: 1.3em;
}

.ourProjectImgSec.projectImg2 h3,
.ourProjectImgSec.projectImg4 h3 {
  top: 160px;
  right: 80px;
  left: unset;
  text-align: right;
}

.ourProjectImgSec h3>em {
  display: block;
}

/* Discover Section */
.discoverWrap {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.discoverCont {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
}

.discoverCont h3 {
  color: #fff;
  font-size: 46px;
}

.discoverCont .exploreBtn {
  background-color: #303948;
  padding: 20px 35px 20px 60px;
  color: #fff;
  font-size: 13px;
  margin: 30px 0;
  display: inline-block;
  position: relative;
  transition: all 0.6s ease;
}

.discoverCont .exploreBtn::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M12 9.5C13.3807 9.5 14.5 10.6193 14.5 12C14.5 13.3807 13.3807 14.5 12 14.5C10.6193 14.5 9.5 13.3807 9.5 12C9.5 10.6193 10.6193 9.5 12 9.5Z' fill='%23FFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.discoverCont .exploreBtn:hover {
  background: #fff;
  color: #303948;
}


.discoverCont .exploreBtn:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M12 9.5C13.3807 9.5 14.5 10.6193 14.5 12C14.5 13.3807 13.3807 14.5 12 14.5C10.6193 14.5 9.5 13.3807 9.5 12C9.5 10.6193 10.6193 9.5 12 9.5Z' fill='%23303948'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/* Swiper Styles */
.discoverWrap .swiper {
  position: relative;
  height: 100vh;
}

.discoverWrap .swiper img {
  width: 100vw;
}

.discoverWrap .swiper-pagination {
  position: absolute;
  left: 0%;
  bottom: 0;
  /* transform: translateY(-50%); */
  display: flex;
  gap: 15px;
  padding: 0 0 60px 120px;
}

.discoverWrap .swiper-pagination-bullet {
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  opacity: 1;
  position: relative;
  overflow: hidden;
  margin: 0 !important;
}

.discoverWrap .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: #fff;
  transition: width 0.9s ease-in-out;
}

.discoverWrap .swiper-pagination-bullet-active::after {
  width: 100%;
}

.discoverWrap .swiper-button-next,
.discoverWrap .swiper-button-prev {
  color: #fff;
  bottom: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 5px;
}

.discoverWrap .swiper-button-next {
  right: 60px;
  top: unset;
}

.discoverWrap .swiper-button-prev {
  right: 120px;
  top: unset;
  left: unset;
}

.discoverWrap .swiper-button-next:after,
.discoverWrap .swiper-button-prev:after {
  font-size: 16px;
  line-height: 1em;
}

.discoverWrap .swiper-counter {
  position: absolute;
  right: 200px;
  bottom: 40px;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  z-index: 1;
}

.discoverWrap .swiper-counter .separator {
  display: inline-block;
  width: 80px;
  height: 1px;
  background: #fff;
  margin: 0 8px;
  border-radius: 1px;
  position: relative;
  top: -5px;
}

/* Unmatched Crafting Section */
.unmatchedCraftingWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  position: relative;
}

.unmatchedCraftingCont {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.unmatchedCraftingCont>h3 {
  font-size: 48px;
  line-height: 1.2em;
}

.unmatchedCraftingCont>h3>em {
  font-weight: 600;
}

.unmatchedCraftingCont>p {
  font-size: 20px;
  line-height: 1.6em;
  margin: 25px 0 0;
}


.unmatchedCraftingCont>p>em {
  display: block;
}

.unmatchedCraftingImg {
  flex: 2;
  width: 400px;
  height: 800px;
  position: relative;
}

.unmatchedCraftingImg .swiper-wrapper,
.unmatchedCraftingImg .swiper-slide {
  width: 100%;
  height: 100%;
}

.unmatchedCraftingImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

/* Vertical Slider Pagination Dots */
.unmatchedCraftingImg .swiper-pagination {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 10;
}

.unmatchedCraftingImg .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  /* background: rgba(255, 255, 255, 0.3); */
  background: none;
  border: 1px solid #fff;
  border-radius: 3px;
  opacity: 1;
  transition: all 0.3s ease;
  padding: 6px;
}

.unmatchedCraftingImg .swiper-pagination-bullet-active {
  background: #fff;
  border-color: #fff;
}

.mapWrap {
  padding: 80px;
  position: relative;
}

.mapWrap>img {
  width: 100%;
}

.mapLocation {
  position: absolute;
  top: 12%;
  left: 35%;
}

.locationDetails {
  background: #fff;
  max-width: 350px;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  font-size: 14px;
  line-height: 1.4em;
  left: 25px;
  top: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

/* Close button */
.locationDetails .closeBtn {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.locationDetails .closeBtn:hover {
  background: #000;
  color: #fff;
  transform: scale(1.1);
}

/* Location Icon */
.mapLocation .locationIcon {
  width: 60px;
  height: 60px;
  display: block;
  border: 4px solid #fff;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.3);
}

.bannerWrap {
  padding: 60px 80px;
  background-image: url('images/home/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.bannerWrap::after {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  background-image: url('images/home/arch-black.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.bannerWrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  pointer-events: none;
  z-index: 3;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  z-index: 10;
}

.headerLogo {
  position: relative;
  top: -120px;
  width: 380px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/home/logo-round.png') no-repeat center center;
  background-size: contain;
}

.headerLogo img {
  max-width: 45%;
  max-height: 45%;
  z-index: 1;
  position: relative;
  top: 95px;
}

/* Nav */
.headernav {
  color: #9e9e9e;
  font-size: 14px;
}

.hamburger {
  width: 40px;
  height: 2px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.hamburger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
  transition: 0.3s;
  width: 50px;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

.bannerCont {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bannerHead {
  color: #fff;
}

.bannerHead h1 {
  font-size: 60px;
  line-height: 1.2em;
  margin: 0;
  font-family: var(--head)
}

.bannerHead h1>i {
  display: block;
}

.bannerHead p {
  font-size: 16px;
  line-height: 1em;
  margin: 15px 0;
}

.bannerBtn {
  background: #DCE5ea;
  position: relative;
}

.bannerBtn>a {

  color: #797979;
  padding: 12px 60px 12px 40px;
  display: block;
}

.bannerBtn>a::before {
  content: "";
  position: absolute;
  top: 11px;
  right: 25px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M16.3153 16.6681C15.9247 17.0587 15.9247 17.6918 16.3153 18.0824C16.7058 18.4729 17.339 18.4729 17.7295 18.0824L22.3951 13.4168C23.1761 12.6357 23.1761 11.3694 22.3951 10.5883L17.7266 5.9199C17.3361 5.52938 16.703 5.52938 16.3124 5.91991C15.9219 6.31043 15.9219 6.9436 16.3124 7.33412L19.9785 11.0002L2 11.0002C1.44772 11.0002 1 11.4479 1 12.0002C1 12.5524 1.44772 13.0002 2 13.0002L19.9832 13.0002L16.3153 16.6681Z' fill='%23797979'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.bannerBtn>a:hover::before {
  transform: translateX(5px);
}

footer {
  position: relative;
  padding: 100px 80px 180px;
  background-image: url('images/home/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  font-weight: 200;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 63, 73, 0.9);
  pointer-events: none;
  z-index: 2;
}

footer>* {
  position: relative;
  z-index: 3;
}

.footerTopWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #9d9d9d;
  padding: 0 0 100px;
}

.footerTopWrap>img {
  max-width: 160px;
}

.footerContWrap {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  border-bottom: 1px solid #9d9d9d;
  gap: 60px;
}

.footerContWrap>div {
  flex: 1;
}

.footerLinks {
  display: flex;
  gap: 120px;
}

.footerLinks ul {
  padding: 0;
}

.footerLinks ul li {
  list-style: none;
  padding: 0 0 10px;
}

.footerLinks ul li>a {
  color: #fff;
  font-size: 18px;
}

.footerBottomWrap {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0;
}

.footerBottomWrap>p {
  margin: 0;
  font-size: 13px;
}

.footerDescription>h4 {
  color: #fff;
  line-height: 1.2em;
  margin: 0 0 30px;
}

.footerDescription>p {
  line-height: 1.6em;
  font-size: 14px;
  padding-right: 120px;
  margin-bottom: 30px;
}

.footerDescription>a {
  line-height: 1.65em;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  position: relative;
}

.footerDescription>a::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' width='64px' height='64px' viewBox='0 0 24 24' id='play' data-name='Flat Color' xmlns='http://www.w3.org/2000/svg' class='icon flat-color'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ccircle id='primary' cx='12' cy='12' r='10' style='fill: %23fff;'%3E%3C/circle%3E%3Cpath id='secondary' d='M14.75,12.83,11.55,15A1,1,0,0,1,10,14.13V9.87A1,1,0,0,1,11.55,9l3.2,2.13A1,1,0,0,1,14.75,12.83Z' style='fill: %23333F49;'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  top: -5px;
  right: -50px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 100%;
  content: ""
}

.footerBottomWrap .companyName {
  color: #939393;
}