:root {
  --regular: 'Inter', Arial, sans-serif;
  --head: 'Playfair Display', Georgia, serif;

  --normal: 400;
  --bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular);
  font-weight: var(--normal);
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  margin: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.commonHead {
  font-family: var(--head);
  font-weight: var(--normal);
  font-size: 36px;
  line-height: 1.3em;
  color: #333F49;
  margin: 0;
}

.commonHead>em {
  display: block;
}

/* Partners Section */
.ourEsteemedPartnersWrap {
  padding: 100px 80px;
}

.ourEsteemedPartnersCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.ourEsteemedPartnersCont>div {
  flex: 1;
}

.ourEsteemedPartnersContLft h4 {
  font-size: 56px;
  line-height: 1.4em;
  margin: 0 0 15px;
  color: #333F49;
  font-weight: 400;
}

.ourEsteemedPartnersContLft h4>em,
.ourEsteemedPartnersContLft p>em {
  display: block;
}

.ourEsteemedPartnersContLft p {
  font-size: 14px;
  line-height: 1.8em;
  margin: 0;
}

.ourEsteemedPartnersLogos img {
  max-width: 80%;
}

/* Project Section */
.ourProjectWrap {
  padding: 100px 0 0;
  overflow: hidden;
}

.ourProjectHead {
  text-align: center;
}

.ourProjectHead h5 {
  font-size: 22px;
  line-height: 1.4em;
  font-weight: var(--normal);
  margin: 0 0 15px;
}

.ourProjectHead h3>em {
  display: block;
}

.ourProjectImgSectionWrap {
  padding: 80px 0 0;
}

.ourProjectImgSec {
  position: relative;
}

.ourProjectImgSec::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.ourProjectImgSec img {
  width: 100%;
  display: block;
}

.ourProjectImgSec h3 {
  position: absolute;
  color: #fff;
  z-index: 1;
  top: 80px;
  left: 80px;
  font-size: 46px;
  line-height: 1.3em;
}

.ourProjectImgSec.projectImg2 h3,
.ourProjectImgSec.projectImg4 h3 {
  top: 160px;
  right: 80px;
  left: unset;
  text-align: right;
}

.ourProjectImgSec h3>em {
  display: block;
}

/* Discover Section */
.discoverWrap {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.discoverCont {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
}

.discoverCont h3 {
  color: #fff;
  font-size: 46px;
}

/* Swiper Styles */
.discoverWrap .swiper {
  position: relative;
  height: 100vh;
}

.discoverWrap .swiper-pagination {
  position: absolute;
  left: 0%;
  bottom: 0;
  /* transform: translateY(-50%); */
  display: flex;
  gap: 15px;
  padding: 0 0 60px 120px;
}

.discoverWrap .swiper-pagination-bullet {
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  opacity: 1;
  position: relative;
  overflow: hidden;
  margin: 0 !important;
}

.discoverWrap .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: #fff;
  transition: width 0.9s ease-in-out;
}

.discoverWrap .swiper-pagination-bullet-active::after {
  width: 100%;
}

.discoverWrap .swiper-button-next,
.discoverWrap .swiper-button-prev {
  color: #fff;
  bottom: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 5px;
}

.discoverWrap .swiper-button-next {
  right: 60px;
  top: unset;
}

.discoverWrap .swiper-button-prev {
  right: 120px;
  top: unset;
  left: unset;
}

.discoverWrap .swiper-button-next:after,
.discoverWrap .swiper-button-prev:after {
  font-size: 16px;
  line-height: 1em;
}

.discoverWrap .swiper-counter {
  position: absolute;
  right: 200px;
  bottom: 40px;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  z-index: 1;
}

.discoverWrap .swiper-counter .separator {
  display: inline-block;
  width: 80px;
  height: 1px;
  background: #fff;
  margin: 0 8px;
  border-radius: 1px;
  position: relative;
  top: -5px;
}

/* Unmatched Crafting Section */
.unmatchedCraftingWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  position: relative;
}

.unmatchedCraftingCont {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.unmatchedCraftingCont>p {
  font-size: 18px;
  line-height: 1.6em;
  margin: 15px 0 0;
}


.unmatchedCraftingCont>p>em {
  display: block;
}

.unmatchedCraftingImg {
  flex: 2;
  width: 400px;
  height: 800px;
  position: relative;
}

.unmatchedCraftingImg .swiper-wrapper,
.unmatchedCraftingImg .swiper-slide {
  width: 100%;
  height: 100%;
}

.unmatchedCraftingImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

/* Vertical Slider Pagination Dots */
.unmatchedCraftingImg .swiper-pagination {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 10;
}

.unmatchedCraftingImg .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  /* background: rgba(255, 255, 255, 0.3); */
  background: none;
  border: 1px solid #fff;
  border-radius: 3px;
  opacity: 1;
  transition: all 0.3s ease;
  padding: 6px;
}

.unmatchedCraftingImg .swiper-pagination-bullet-active {
  background: #fff;
  border-color: #fff;
}

.mapWrap {
  padding: 80px;
  position: relative;
}

.mapLocation {
  position: absolute;
  top: 12%;
  left: 35%;
}

.locationDetails {
  background: #fff;
  max-width: 350px;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  font-size: 14px;
  line-height: 1.4em;
  left: 25px;
  top: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

/* Close button */
.locationDetails .closeBtn {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.locationDetails .closeBtn:hover {
  background: #000;
  color: #fff;
  transform: scale(1.1);
}

/* Location Icon */
.mapLocation .locationIcon {
  width: 60px;
  height: 60px;
  display: block;
  border: 4px solid #fff;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.3);
}

/* Banner wrapper */
.bannerWrap {
  padding: 80px;
  background-image: url('images/home/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* SVG overlay */
.bannerWrap::after {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  background-image: url('images/home/arch-black.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}

/* Dark tint overlay */
.bannerWrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  pointer-events: none;
  z-index: 3;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  z-index: 10;
  /* above overlays */
}

.headerLogo {
  position: relative;
  top: -110px;
  width: 380px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/home/logo-round.png') no-repeat center center;
  background-size: contain;
}

.headerLogo img {
  max-width: 50%;
  max-height: 50%;
  z-index: 1;
  position: relative;
  top: 90px;
}

/* Nav */
.headernav {
  color: #fff;
  font-size: 14px;
}

/* Hamburger (if using lines) */
.hamburger {
  width: 40px;
  height: 2px;
  background: #fff;
  position: relative;
}

.hamburger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
  transition: 0.3s;
  width: 50px;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

/* Banner content container */
.bannerCont {
  position: relative;
  z-index: 5;
}


footer {
  position: relative;
  padding: 100px 80px 180px;
  background-image: url('images/home/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  z-index: 1;
  overflow: hidden;
  color: #fff;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 63, 73, 0.9);
  pointer-events: none;
  z-index: 2;
}

footer>* {
  position: relative;
  z-index: 3;
}

.footerTopWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 0 0 100px;
}

.footerTopWrap>img {
  max-width: 160px;
}

.footerContWrap {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  border-bottom: 1px solid #fff;
  gap: 100px;
}

.footerContWrap>div {
  flex: 1;
}

.footerLinks {
  display: flex;
  gap: 120px;
}

.footerLinks ul {
  padding: 0;
}

.footerLinks ul li {
  list-style: none;
  padding: 0 0 10px;
}

.footerLinks ul li>a {
  color: #fff;
}

.footerBottomWrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
}

.footerBottomWrap>p {
  margin: 0;
}

.aboutWrap {
  padding: 0;
  background-image: url('images/home/arch-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 80vh;
  background-color: #dddd;
  position: relative;
  top: 0;
}